<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="ie=edge"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/searchbar.css">
    <script src="https://kit.fontawesome.com/378dea004a.js" crossorigin="anonymous"></script>
    <title>Search Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Search Page</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mymeet">My Meetings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createmeet">Create a Meeting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          </ul> 
      </nav>
      <div class="mainArea">
        <div class="searchArea">
          <form onsubmit="return false;" id="searchForm">
            <label for="Search-dept" style="color: whitesmoke; margin-left: 35px;">Department: </label>
                    <select class="form-control flex-Item" id="Search-dept" style="width:auto;display:inline-block;">
                        <option>Choose...</option>
                        <option>Support</option>
                        <option>Services</option>
                        <option>Marketing</option>
                        <option>Engineering</option>
                        <option>Product Management</option>
                        <option>Business Development</option>
                        <option>Accounting</option>
                        <option>Training</option>
                        <option>Research and Development</option>
                    </select>
            <label for="Search-date" style="color: whitesmoke;">Date: </label>
                    <input type="date" id="Search-date" class="flex-Item" >
            <button type="submit" id="searchBtn">Search</button>
          </form>
          <script src="/js/search.js"></script>
        </div>  
        
        <% if(searchMeets !==""){%>
          <div class="meet-container">
            <% searchMeets.forEach(function(meet){%> 
                 
                <div class="meet-cell">
                  <div class="meet-item meet-heading" style="grid-column: 1/ span 3;">
                    <h5><%= meet.Department %> Department</h5>
                  </div>
                  <div class="meet-item meet-date">
                    <p> <b>Date: </b> <%= meet.Date.toLocaleDateString("en-GB",{
                      day:"numeric",
                      month:"short",
                      year:"numeric"
                    }) %> <p>
                    </div>
                    <div class="meet-item meet-time">
                      <p> <b>Time: </b> <%= formatTime(meet.Time) %> <p>
                      </div>
                      <div class="meet-item meet-loc">
                        <p> <b>Location: </b> <%= meet.Location %> <p>
                        </div>
                        <div class="meet-item meet-agenda" style="grid-column: 1/ span 3;">
                          <p> <b>Agenda: </b> <%= meet.Agenda %> <p>
                          </div>
                          <div class="meet-item meet-zoom" style="grid-column: 1/ span 2;">
                            <p> <b>Zoom link: </b> <%= meet.zoom %> <p>
                            </div>
                              <button class="btn btn-primary" id="meetbtn" onclick="redirecttm('<%= JSON.stringify(meet)%>')">Go to Meeting</button>
                  </div>
                  <%})%> 
          </div>
          <script>
            function redirecttm(meet){
              const jsonObject = JSON.parse(meet);
              const mid = jsonObject.meetid;
              // console.log(mid);
                fetch("/api/mompage/" + mid, {
                  method: "GET"
                })
                .then(res=>{
                    window.location.href = '/api/mompage/' + mid;
                })
                .catch(err=>{
                  console.log(err);
                })
            }
        </script>
          <%
            function formatTime(timeString){
              const time = new Date(`1970-01-01T${timeString}`);
              return time.toLocaleTimeString('en-US', {hour:'numeric', minute:'numeric', hour12:true});
            }
            %>
          <%}%>  
        
    </div>
</body>
</html>